

#content {
	width:100vw;
	height:100vh;
}

.hero {
	width:90%;
	height:80%;
	margin:auto;
	display:flex;
	border:1px solid black;
}

.hero_img {
	width:50%;
	height:100%;
	border:1px solid red;
}

.hero_text {
	width:60%;
}

img {
	width:100%;
}
