*,
*::before,
*::after {
	box-sizing:border-box;
}

:root {
	--main-box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

body {
	margin:0;
	background:#ACA696;
}

img {
	width:100%;
	height:100%;
}

#content {
	width:100vw;
	height:100vh;
}

nav {
	width:80%;
	height:10rem;
	margin:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	background:#292929;
	border-radius:1.5rem;
	box-shadow:var(--main-box-shadow);
}

.btn_nav {
	width:10rem;
	height:6rem;
	margin:0.5rem;
	font-size:1.5rem;
}

.hero, .menu {
	width:90%;
	height:80%;
	margin:auto;
	margin-top:1rem;
	display:flex;
	background:#292929;
	color:#FFF;
	border-radius:1.5rem;
	box-shadow: var(--main-box-shadow);
}
.menu {
	flex-direction:column;
}

.hero_img {
	display:none;
}

.hero_txt {
	width:40%;
	margin-right:auto;
	margin-left:auto;
}

.card {
	display:flex;
	margin-top:.5rem;
	margin-left:auto;
	margin-right:auto;
	background:#111111;
	border-radius:1.5rem;
	box-shadow:var(--main-box-shadow);
}

.card-text {
	width:50%;
}

.card-image {
	width:50%;
}

.home_img {
	display:none;
}


@media(min-width:500px) {
	.nav {
		flex-direction:row
	}
	.hero_img {
		width:30%;
		height:90%;
		margin:auto;
		display:block;
	}
	img {
		display:inline;
		border-radius:1.5rem;
		box-shadow:var(--main-box-shadow);
	}
}
