

#content {
	width:100vw;
	height:100vh;
}

.hero {
	width:80;
	height:80%;
	margin:auto;
	display:flex;
	border:1px solid black;
}

.hero_img {
	width:30%;
	height:100%;
	border:1px solid red;
}

img {
	width:100%;
}
